<%- include('./partials/head', {current: '/'}); %>

<header>
    <section class="topBar">
        <div>
            <p>Automatische scan</p>
            <h2><%= site.title %>/home</h2>

            <div class="jsOffText">
                <h3>Scroll om de andere scans te bekijken <img src="../assets/icons/chevronRightBlue.svg" alt="pijl naar rechts zodat je weet dat je daarnaartoe moet scrollen"></h3> 
            </div>
        </div>
       

        <div class="dateSection">
            <button class="buttonLeft" aria-label="Vorige scan"><img src="../assets/icons/chevronLeft.svg" alt="pijl naar links"></button>
            <button class="date" aria-label="Datum"></button>
            <button class="buttonRight" aria-label="Volgende scan"><img src="../assets/icons/chevronRight.svg" alt="pijl naar rechts"></button>
        </div>
    </section>
</header>

<main>
    <section class="allScans">
        <!-- Als er scans zijn laat dit zien -->
        <% if (scans.length > 0) { %>
        <% scans.forEach(scan => { %>

        <div id="scan<%= scan.id %>" class="containerScan" data-date="<%- scan.date %>">
            <div class="scanResults">
                <section>
                    <article class="autoScanResult">
                        <div>
                            <h1><%- scan.title %></h1>
                            <!-- TODO: Enter er tussen fixen -->
                            <p><%- scan.description %></p>
                        </div>
                
                        <div>
                            <h3><%= scan.score %><span>%</span></h3>
                        </div>
                    </article>
                
                    <article class="typesErrors">
                        <h2>Soorten foutmeldingen</h2>
                        <!-- Hier komt een diagram -->
                    </article>
                </section>
                
                <section class="results">
                    <% scan.result.forEach(scanResult => { %>
                        
                        <article>
                            <p><%- scanResult.title %></p>
                            <div>
                                <h3><%- scanResult.amount %></h3>
                                <!-- door een let icon aan te maken kunnen de iconen uit worden geladen die horen bij de error -->
                                <% let icon;
                                    switch(scanResult.title) {
                                        case 'Ontdekte fouten':
                                            icon = 'error.svg';
                                            break;
                                        case 'Contrast fouten':
                                            icon = 'contrast.svg';
                                            break;
                                        case 'Structurele fouten':
                                            icon = 'structure.svg';
                                            break;
                                        case 'Ontbrekende alt-teksten':
                                            icon = 'altText.svg';
                                            break;
                                        case 'Ontbrekende aria-labels':
                                            icon = 'ariaLabel.svg';
                                            break;
                                        default:
                                            icon = 'altText.svg';
                                    }
                                %>
                                <img src="/assets/icons/<%= icon %>" alt="<%= scanResult.title %> icoon">
                            </div>
                        </article>

                    <% }) %>
                </section>

            </div>

            <section>
                <article class="graphs">
                    <h2>Toegankelijkheid</h2>
                    <!-- Hier komt een grafiek -->
                </article>
            </section>
        </div>
        <% }) %>
        <!-- Anders zeg je dat er geen scans zijn gevonden -->
        <% } else { %>
            <h2>Geen scans gevonden</h2>
        <% } %>
    </section>
</main>

<%- include('./partials/foot') %>