<%- include('./partials/head', {current: '/'}); %>

<main>

<% allScans.forEach((scan, index) => { %>

<div class="scan<%= scan.frd_site_id %>">
<!-- <header> -->
    <section class="topBar">
        <div>
            <p>Automatische scan</p>
            <h2><%= site.title %> <%= site.id %> /home</h2>
        </div>
       
        <div class="dateSection">
            <button aria-label="Vorige scan"><img src="../assets/icons/chevronLeft.svg" alt="pijl naar links"></button>
            <button aria-label="Datum <%- scan.date %>"><%- scan.date %> Sept.</button>
            <button aria-label="Volgende scan"><img src="../assets/icons/chevronRight.svg" alt="pijl naar rechts"></button>
        </div>
    </section>
<!-- </header> -->

<!-- <main> -->
    <div class="scanResults">
        <section>
            <article class="autoScanResult">
                <div>
                    <h1><%- scan.title %></h1>
                    <!-- TODO: Enter er tussen fixen -->
                    <p><%- scan.description %></p>
                </div>
        
                <div>
                    <%= scan.score %>
                </div>
            </article>
        
            <article class="typesErrors">
                <h2>Soorten foutmeldingen</h2>
                <!-- Hier komt een diagram -->
            </article>
        </section>
        
        <section class="results">
            <% scan.result.forEach(scanResult => { %>
                
                <article>
                    <p><%- scanResult.title %></p>
                    <div>
                        <h3><%- scanResult.amount %></h3>
                        <!-- door een let icon aan te maken kunnen de iconen uit worden geladen die horen bij de error -->
                        <% let icon;
                            switch(scanResult.title) {
                                case 'Ontdekte fouten':
                                    icon = 'error.svg';
                                    break;
                                case 'Contrast fouten':
                                    icon = 'contrast.svg';
                                    break;
                                case 'Structurele fouten':
                                    icon = 'structure.svg';
                                    break;
                                case 'Ontbrekende alt-teksten':
                                    icon = 'altText.svg';
                                    break;
                                case 'Ontbrekende aria-labels':
                                    icon = 'ariaLabel.svg';
                                    break;
                                default:
                                    icon = 'altText.svg';
                            }
                        %>
                        <img src="/assets/icons/<%= icon %>" alt="<%= scanResult.title %> icoon">
                    </div>
                </article>

            <% }) %>
        </section>

    </div>

    <section>
        <article class="graphs">
            <h2>Toegankelijkheid</h2>
            <!-- Hier komt een grafiek -->
        </article>
    </section>
</div>
    <% }) %>

    
</main>

<%- include('./partials/foot') %>