<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Google Analytics | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
  <span class="loader"></span>
</div>

<section id="google-section">

  <a href="/">
    <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
  </a>
  <h1>Google Analytics</h1>

  <% rows.forEach(function(row) { %>
    <p><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></p>
  <% }) %>


  <div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], 
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  
</section>


<%- include('./partials/foot'); %>
