<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Google Analytics | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
  <span class="loader"></span>
</div>

<section id="google-section">

  <a href="/">
    <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
  </a>
  <h1>Google Analytics</h1>

  <div class="data-wrapper">
    <article class="users-browsers">
      <div class="users-title">
        <h2>Browsers of users</h2>
        <p>This month</p>
      </div>
    
      <div>
        <canvas id="myChart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['Chrome', 'Safari', 'Safari(in-app)', 'Edge', 'Android Webview', 'Firefox', 'Remainder'],
            datasets: [{
              label: 'Times used',
              data: [1904, 372, 115, 101, 88, 49, 124],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
  
    </article>
  
    <article class="users-countries">
      <div class="users-title">
        <h2>Users per country</h2>
        <p>All time</p>
      </div>
      <hr>
      <ul>
        <% rows.slice(0, 30).forEach(function(row) { %>
            <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
        <% }) %>
      </ul>
      <div class="fade-bottom"></div>
    </article>
  
    <article class="users-cities">
      <div class="users-title">
        <h2>Users per city</h2>
        <p>since 1 January 2024</p>
      </div>
      <hr>
      <ul>
        <% city.rows.slice(0, 30).forEach(function(row) { %>
            <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
        <% }) %>
      </ul>
      <div class="fade-bottom"></div>
    </article>
  </div>

  


  
</section>


<%- include('./partials/foot'); %>
