<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Home | Fresk Digital</title>
</head>

<div class="transition transition-2 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
  <span class="loader"></span>
</div>

<section id="home-section">

  <a href="/">
    <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
  </a>
  
  <div class="analytics">
    <div class="analytics-slide">
      <%- include('./partials/analytics'); %>
    </div>

    <div class="analytics-slide">
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
        <button>
          bekijk Hotjar data 
          <span>→</span>
        </button>
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
        <button>
          bekijk Google data 
          <span>→</span>
        </button>
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
        <button>
          bekijk Linkedin data 
          <span>→</span>
        </button>
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
        <button>
          bekijk Hotjar data 
          <span>→</span>
        </button>
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
        <button>
          bekijk Google data 
          <span>→</span>
        </button>
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
        <button>
          bekijk Linkedin data 
          <span>→</span>
        </button>
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
        <button>
          bekijk Hotjar data 
          <span>→</span>
        </button>
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
        <button>
          bekijk Google data 
          <span>→</span>
        </button>
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
        <button>
          bekijk Linkedin data 
          <span>→</span>
        </button>
      </a>
    </div>

    <div class="analytics-slide">
      <%- include('./partials/analytics'); %>
    </div>
  </div>

</section>

<%- include('./partials/foot'); %>
